In [1]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv('housing.data.txt',header=None,delim_whitespace=True)
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [7]:
data.columns=['CRIM','ZN','INDUS','CCR','NOX','RM','AGE','DIS','RAD','TAX','PTRATIO','B','LSTAT','MEDV']
data.head()

,CRIM,ZN,INDUS,CCR,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [8]:
data.shape

(506, 14)

In [9]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [11]:
param = [{'n_neighbors':[i for i in range(1,11)],'weights':['uniform']},
        {'n_neighbors':[i for i in range(1,11)],'weights':['distance']}]
cv = GridSearchCV(estimator=KNeighborsRegressor(),param_grid=param,cv=KFold(n_splits=5))

scaler = StandardScaler(copy=True,with_mean=True,with_std=True).fit_transform(data)
X = scaler[:,:13]
Y = scaler[:,-1]

X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2)

cv.fit(X_train,Y_train)

GridSearchCV(cv=KFold(n_splits=5, random_state=None, shuffle=False),
             estimator=KNeighborsRegressor(),
             param_grid=[{'n_neighbors': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
                          'weights': ['uniform']},
                         {'n_neighbors': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
                          'weights': ['distance']}])

In [12]:
cv.best_estimator_

KNeighborsRegressor(n_neighbors=4, weights='distance')

In [13]:
knn = KNeighborsRegressor(n_neighbors=4,weights='distance')

knn.fit(X_train,Y_train)

KNeighborsRegressor(n_neighbors=4, weights='distance')

In [14]:
knn.score(X_test,Y_test)

0.8478908700749341